
.page{
    padding:1rem;
}

.btn{
    cursor:pointer;
    border:0;
    margin-right:0.2rem;
    background-color: transparent;
    padding:0.3rem 0.5rem;
}

.current{
    color:white;
    background-color: lightgray;
}