@value softGreen, softRed, softWhite, midGreen from '../../common/colors.css';

.quizMain{
    text-align: center;
}

.box{
    background-color: softWhite;
    border-radius:1rem;
    padding:3rem;
    margin-top:2rem;
}

.qbox{
    margin-bottom:2rem;
}

.form{
    margin-bottom:4rem;
}

.input{
    padding:1rem;
}

.input:focus{
    outline: none;
}

.btn{
    color:white;
    padding:1rem;
    background-color: softGreen;
}

.submitted{
    color:lightgray;
    background-color: gray;
    cursor:default;
}

.correct{
    color:softGreen;
}

.correctBox{
    height:1rem;
}

.info{
    margin-bottom: 3rem;
}
