@value softGreen, softRed, softWhite, midGreen from '../../common/colors.css';

.form{
    margin:0.5rem 0;
    text-align: center;
}

.input{
    margin-right:0.5rem;
    padding:0.8rem;
    background-color: softWhite;
}

.input:focus{
    outline:none;
}

.btn{
    font-size:1rem;
    margin:0 0.3rem;
    padding:0.7rem;
    border-radius: 0.5rem;
}

.check:hover{
    color:white;
    background-color: softGreen;
}

.check{
    color: softGreen;
    background-color: softWhite;
}

.del:hover{
    color:white;
    background-color: softRed;
}

.del{
    color: softRed;
    background-color: softWhite;
}

.lock{
    color:softWhite;
}

@media screen and (max-width:768px){
    .input{
        width:6.2rem;
    }   
}