@value softGreen, midGreen from '../../common/colors.css';

.btn{
    color:white;
    background-color: softGreen;
    margin-right:0.5rem;
    padding:0.65rem;
}

.btn:hover{
    background-color: midGreen;
}