@value softGreen, softRed, softWhite from '../../common/colors.css';

.form{
    margin-bottom:1rem;
}

.input{
    margin-right:0.5rem;
    padding:0.8rem;
    background-color: softWhite;
}

.input:focus{
    outline:none;
}


@media screen and (max-width:768px){
    .input{
        width:6rem;
    }
}