@value softGreen, softRed, softWhite from '../../common/colors.css';

.form{
    margin-bottom:1rem;
}

.input{
    /* border-radius:0.2rem; */
    margin-right:0.5rem;
    padding:0.8rem;
    border:0;
    background-color: softWhite;
}

.input:focus{
    outline:none;
}

.lock{
    color:white
}

@media screen and (max-width:768px){
    .input{
        width:6rem;
    }
}