@value softGreen, softRed, softWhite, midGreen, lightGray from '../../common/colors.css';

.quizMenu{
    /* display:flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */

}

.box{
    width:100%;
    height:4rem;
    margin-bottom:1rem;
    border-radius:0.4rem;
    background-color: softWhite;
}

.preBtn{
    /* color:white; */
}

.input{
    padding:1rem;
}

.input:focus{
    outline:none;
}

.btn{
    color:white;
    background-color: softGreen;
}

.btn:hover{
    background-color: midGreen;
}

.clicked{
    background-color: lightGray;
}