@value softGreen, softRed, softWhite from '../../common/colors.css';


.quizMenu{
    height:100%;
}

.preBtn{
    padding:0.5rem;
    color:white;
    background-color: softRed;
}

.btn{
    padding:1rem;
    border-radius:0.8rem;
    color:white;
    background-color: softGreen;
}